__pycache__
AML/.ipynb_checkpoints/
LB1/prj/kunitz_BPTI_hmm/dataset/*
LB1/prj/kunitz_BPTI_hmm//docs/.ipynb_checkpoints/*
LB1/prj/kunitz_BPTI_blast/dataset/*
LB1/prj/kunitz_BPTI_blast/docs/.ipynb_checkpoints/*
LB1/prj/kunitz_BPTI_blast/dataset/.snakemake/*
