__pycache__
AML/.ipynb_checkpoints/
LB1/prj_blast_classification/dataset/
LB1/prj_hmm_classification/dataset/
LB1/prj_blast_classification/docs/.ipynb_checkpoints/
LB1/prj_hmm_classification/docs/.ipynb_checkpoints/
LB1/prj_hmm_classification/handmade/pdb_seqres.txt
LB1/prj/kunitz_BPTI_hmm/dataset/
